# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
build/
out/
build-arm64-*
build-x64-*
Tensor-Data.txt
cmake/detection/Build-Arch/
cmake/detection/Build-Arch-Cuda/
cmake/detection/Build-Cpu-Properties/
cmake/detection/Build-Gpu-Properties/
cmake/detection/BuildFeatureTesterCpuProperties.bat
/cmake/detection/BuildFeatureTesterGpuProperties.bat
